 .changhong  {
  margin-top: 40;
  margin-bottom: 40;
    margin: 40;
    margin-bottom: 40
    border: 50 ;border-style rgb(2,3,4);

}
.itemtext{
padding-top: 0;
padding-bottom: 0;
border-bottom: 0px solid #000000;
border-left: 0px solid #000000;
border-right: 0px solid #000000;
margin-top: 0;


}
input#butsubmit{
   margin: auto;
    width: 100%;
    border: 3px solid #73AD21;
    padding: 10px;
  position: relative;
    left: 66;
}